<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountToken</key>
	<data>
	ewoJIkludGVybmF0aW9uYWxNb2JpbGVFcXVpcG1lbnRJZGVudGl0eSIgPSAiMzUyMDAw
	MDY4Nzg1NTUzIjsKCSJTZXJpYWxOdW1iZXIiID0gIkY5N01RMVdCRkY5WSI7CgkiSW50
	ZXJuYXRpb25hbE1vYmlsZVN1YnNjcmliZXJJZGVudGl0eSIgPSAiMzEwMTIwMTAxNDA4
	NDMzIjsKCSJBY3Rpdml0eVVSTCIgPSAiaHR0cHM6Ly9hbGJlcnQuYXBwbGUuY29tL2Rl
	dmljZXNlcnZpY2VzL2FjdGl2aXR5IjsKCSJBY3RpdmF0aW9uUmFuZG9tbmVzcyIgPSAi
	RDlDRjI3NDEtNDhGQi00OTI1LTk3QkMtOEExNEJFMDk1MUM2IjsKCSJVbmlxdWVEZXZp
	Y2VJRCIgPSAiYmY0MmI0NTQyZjZhNTNkZjA3ZjkwNTk2ZjFhMDExZGFiMmMxNzJiOCI7
	CgkiSW50ZWdyYXRlZENpcmN1aXRDYXJkSWRlbnRpdHkiID0gIjg5MDExMjAxMDAwMDE0
	MDg0MzM3IjsKCSJBY3RpdmF0aW9uVGlja2V0IiA9ICJNSUlDVHdJQkFUQUxCZ2txaGtp
	Rzl3MEJBUVV4Z2dFWW56OEVJWlZSUUo5QUJPRWdid0NmU3hRSldZVkZ5OWRZUmhDcjZO
	QzNuS3VzdVc3V0JwK0hhd2MxSUFBR2g0VlZuNGR0QnpVZ0FBYUhoVldmbHoyQndBQUFB
	QUR1N3U3dTd1N3U3NEFBQUFBeER1N3U3dTd1NzRBQUFBQXhIdTd1N3U3dTc0QUFBQUF4
	YnU3dTd1N3U3eUFBQUFFeEFTRHU3dTd1N3lBQUFLSXhBU0R1N3U3dTc0QUFBQUJFQlQ3
	dTd1N3U3NEFBQUFCRUJVN3U3dTd1NzRBQUFBQkVCdzd1N3U3dTc0QUFBQUJFQng3dTd1
	N3U3NEFBQUFCRUJ5N3U3dTd1NzRBQUFBQkVCejd1N3U3dTc0QUFBQUJFQjA3dTd1N3U3
	NEFBQUFCRUIxN3U3dTd1NzRBQUFBQkVCMjd1N3U3dTc0QUFBQUJFQjQ3dTd1N3U3NStY
	UGdRQkFBQUFuNWMvQkFFQUFBQ2ZsMEFFQVFBQUFBU0JnT0tydHh3WkJQYjQrNHFvaVVW
	Z3Zib1l4M25uSTgzYkRTZmI5MzJONzY2WSt2WC9ZbGVKaUdRZlQvS25abzVNdHRxRU9J
	SjZCb0ZMaEdQMFpZK2xrUktIS3EwNnVNZkhwRWlLSFJ2YUJneFM5VnNmUTczQ1I3VUVL
	U1hPVmlPMktSQmJOcXorKy96MklqR3duQ3B2WGtad1Vjc2VwVnZvWlNmejZSOXJibWFu
	bzRHZE1Bc0dDU3FHU0liM0RRRUJBUU9CalFBd2dZa0NnWUVBN1RvL1pOSG9JSnpCVWdZ
	MDczNHZzZ2wrQUN4RFErZjRxdXZtU3JQQXRnREVOU1p3YVZySFhwRitjUktCQUJxa0Rh
	MDBZY0VOeDJkdFMxdHVITEtETm4xek1aTGFaUnBpSzlVZWlNUE5aTDZtbGcxMkJXTHdW
	amxGT0dFRDhVNnBmWHdPdzZEL0ZDRFJndnlHQm43d3N3OHNFYTdBZGxZbU1IR21rdndn
	T1AwQ0F3RUFBUT09XG4iOwoJIkNlcnRpZmljYXRlVVJMIiA9ICJodHRwczovL2FsYmVy
	dC5hcHBsZS5jb20vZGV2aWNlc2VydmljZXMvY2VydGlmeU1lIjsKCSJQaG9uZU51bWJl
	ck5vdGlmaWNhdGlvblVSTCIgPSAiaHR0cHM6Ly9hbGJlcnQuYXBwbGUuY29tL2Rldmlj
	ZXNlcnZpY2VzL3Bob25lSG9tZSI7CgkiTW9iaWxlRXF1aXBtZW50SWRlbnRpZmllciIg
	PSAiMzUyMDAwMDY4Nzg1NTUiOwp9
	</data>
	<key>AccountTokenCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURaekNDQWsrZ0F3SUJBZ0lCQWpB
	TkJna3Foa2lHOXcwQkFRVUZBREI1TVFzd0NRWURWUVFHRXdKVlV6RVQKTUJFR0ExVUVD
	aE1LUVhCd2JHVWdTVzVqTGpFbU1DUUdBMVVFQ3hNZFFYQndiR1VnUTJWeWRHbG1hV05o
	ZEdsdgpiaUJCZFhSb2IzSnBkSGt4TFRBckJnTlZCQU1USkVGd2NHeGxJR2xRYUc5dVpT
	QkRaWEowYVdacFkyRjBhVzl1CklFRjFkR2h2Y21sMGVUQWVGdzB3TnpBME1UWXlNalUx
	TURKYUZ3MHhOREEwTVRZeU1qVTFNREphTUZzeEN6QUoKQmdOVkJBWVRBbFZUTVJNd0VR
	WURWUVFLRXdwQmNIQnNaU0JKYm1NdU1SVXdFd1lEVlFRTEV3eEJjSEJzWlNCcApVR2h2
	Ym1VeElEQWVCZ05WQkFNVEYwRndjR3hsSUdsUWFHOXVaU0JCWTNScGRtRjBhVzl1TUlH
	Zk1BMEdDU3FHClNJYjNEUUVCQVFVQUE0R05BRENCaVFLQmdRREZBWHpSSW1Bcm1vaUhm
	YlMyb1BjcUFmYkV2MGQxams3R2JuWDcKKzRZVWx5SWZwcnpCVmRsbXoySkhZdjErMDRJ
	ekp0TDdjTDk3VUk3ZmswaTBPTVkwYWw4YStKUFFhNFVnNjExVApicUV0K25qQW1Ba2dl
	M0hYV0RCZEFYRDlNaGtDN1QvOW83N3pPUTFvbGk0Y1VkemxuWVdmem1XMFBkdU94dXZl
	CkFlWVk0d0lEQVFBQm80R2JNSUdZTUE0R0ExVWREd0VCL3dRRUF3SUhnREFNQmdOVkhS
	TUJBZjhFQWpBQU1CMEcKQTFVZERnUVdCQlNob05MK3Q3UnovcHNVYXEvTlBYTlBIKy9X
	bERBZkJnTlZIU01FR0RBV2dCVG5OQ291SXQ0NQpZR3UwbE01M2cyRXZNYUI4TlRBNEJn
	TlZIUjhFTVRBdk1DMmdLNkFwaGlkb2RIUndPaTh2ZDNkM0xtRndjR3hsCkxtTnZiUzlo
	Y0hCc1pXTmhMMmx3YUc5dVpTNWpjbXd3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUY5
	cW1yVU4KZEErRlJPWUdQN3BXY1lUQUsrcEx5T2Y5ek9hRTdhZVZJODg1VjhZL0JLSGhs
	d0FvK3pFa2lPVTNGYkVQQ1M5Vgp0UzE4WkJjd0QvK2Q1WlFUTUZrbmhjVUp3ZFBxcWpu
	bTlMcVRmSC94NHB3OE9OSFJEenhIZHA5NmdPVjNBNCs4CmFia29BU2ZjWXF2SVJ5cFhu
	YnVyM2JSUmhUekFzNFZJTFM2alR5Rll5bVplU2V3dEJ1Ym1taWdvMWtDUWlaR2MKNzZj
	NWZlREF5SGIyYnpFcXR2eDNXcHJsanRTNDZRVDVDUjZZZWxpblpuaW8zMmpBelJZVHh0
	UzZyM0pzdlpEaQpKMDcrRUhjbWZHZHB4d2dPKzdidFcxcEZhcjBaakY5L2pZS0tuT1lO
	eXZDcndzemhhZmJTWXd6QUc1RUpvWEZCCjRkK3BpV0hVRGNQeHRjYz0KLS0tLS1FTkQg
	Q0VSVElGSUNBVEUtLS0tLQo=
	</data>
	<key>AccountTokenSignature</key>
	<data>
	w+Rfx8fhbCNOYoM0zlKN9rc0ok+eGB2n9E3FvhCqXxk8/IaYDXxVFUacxY2Ose4D6XN4
	J3uJZqE4qRsLesQyrB3voPCtclyv1t6c1HBFd5Llwra6EsJfG59VjVCNOi3iyy0StfeJ
	x3Oq8kqroBXKy/5j5Gd4dFhEj1hf4yl4+68=
	</data>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4ekNDQWx5Z0F3SUJBZ0lLQWcz
	VGtWZkR3eFdwT3pBTkJna3Foa2lHOXcwQkFRVUZBREJhTVFzd0NRWUQKVlFRR0V3SlZV
	ekVUTUJFR0ExVUVDaE1LUVhCd2JHVWdTVzVqTGpFVk1CTUdBMVVFQ3hNTVFYQndiR1Vn
	YVZCbwpiMjVsTVI4d0hRWURWUVFERXhaQmNIQnNaU0JwVUdodmJtVWdSR1YyYVdObElF
	TkJNQjRYRFRFME1EZ3pNVEF3Ck1EY3pNMW9YRFRFM01EZ3pNVEF3TURjek0xb3dnWU14
	TFRBckJnTlZCQU1XSkRsQk1qa3dPREZCTFVORU1qVXQKTkRkRVJDMUJRVVZETFRSRk5V
	TXdNRE5ETmpVME1qRUxNQWtHQTFVRUJoTUNWVk14Q3pBSkJnTlZCQWdUQWtOQgpNUkl3
	RUFZRFZRUUhFd2xEZFhCbGNuUnBibTh4RXpBUkJnTlZCQW9UQ2tGd2NHeGxJRWx1WXk0
	eER6QU5CZ05WCkJBc1RCbWxRYUc5dVpUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0Jq
	UUF3Z1lrQ2dZRUFyWDI4YW53eXJtMFEKMWJoQ3puOHpyU3k5ekNaeS80WTEvTnIxRkV4
	R1BqMXR5MkpCRFJET01jN2FNT2NiTndKWkdtMkJCTmNuaUR4bgorVWEzS0hFcXE0by9D
	RUpHclhWVmdxTUk2Rm1mUVR1b21hb0txMHk5OHh1TmV6OTBBYm5PYVNmZjFQRFl6VWJO
	CmdRUDYxQm5hV0pKcXRWZVBUUlNwdFFqZ2pEYXBVVVVDQXdFQUFhT0JsVENCa2pBZkJn
	TlZIU01FR0RBV2dCU3kKL2lFalJJYVZhbm5WZ1NhT2N4RFlwMHlPZERBZEJnTlZIUTRF
	RmdRVVNpdkNvMEx6MEJENjRaVEJnOTdQOWhyZApLVkF3REFZRFZSMFRBUUgvQkFJd0FE
	QU9CZ05WSFE4QkFmOEVCQU1DQmFBd0lBWURWUjBsQVFIL0JCWXdGQVlJCkt3WUJCUVVI
	QXdFR0NDc0dBUVVGQndNQ01CQUdDaXFHU0liM1kyUUdDZ0lFQWdVQU1BMEdDU3FHU0li
	M0RRRUIKQlFVQUE0R0JBS0JWNkJaQlZ1QVprcW8zZWZnalU1RWdaVldreFVoQ0FWU0ov
	Qk9FM080VHVySjZQSHMzTFJtSApaYzkxMi90TThHaHJyTmYwa014TzJGRWh1TFNQTFd0
	M1Y3TnVHMzlCSWwzbVhIS1E5SHVtZzJNbU5tU2U4dUljCmowMG1VQW5RVG9mazZFZlZN
	S1prOUYwbGxqL0V3emxkdGNiOVpkaTJUdVF4RlpMQTViOUoKLS0tLS1FTkQgQ0VSVElG
	SUNBVEUtLS0tLQo=
	</data>
	<key>FairPlayKeyData</key>
	<data>
	LS0tLS1CRUdJTiBDT05UQUlORVItLS0tLQpBQUVBQVRIeTByUGs2VmFEcFc3RzVqWlNp
	ZFM2N0p1WUdvOFZaMnovZFRwVzZ0VVN0dUwxODBVbytsaWw4NTUrClBNTlI4WDFvU3Fr
	S203TTF0ODZ3WWtBdmN4RUF1eDIxcjRIN2d4YnM1UmNYWDdFVHlHMjRUUUl5WDdzaWE2
	TW8KNnNmSVQzNElWNk92ZXVRTEpzc3RNVDQ5QTZOeTdMT01kOFFXV1BJWUVWRmZnOXFL
	M0ZieUM2ZVFEN3NSUWVzagpTQ3h5by9pZ2RBRi9pUVRvK29PWm1RNUZBUWdCM2JGY2Q0
	Y0NXTS9mMXBqSGw4TGRxZzMzTDcvNnZScUF2RnV1Cmc2dWZoUUg1SmVRUkRJNkdFSnls
	OGJabTRqbzVIZjdWWUhIbm1IVXV4b1ppcXptQVJEMzYxZVpKTDBBaW5MaHgKR2U4aFBQ
	bzcwTFpjYnhjZmY4UzNRTjNSUmdtRXllUHp4cVVEUFhjc3FzSldrWUV6dEp6TlNmb0pE
	MFFxQzFUagoyV0Z3RnI5WjYzenR6dWhkbi8wM0laYnd0RnE5aVlpaHRRMHJKbG5ybGsy
	S3RtaUdIU1RwaHhvTC9jMHRyNUl0Cmliak1ZRVY4TUJqS21kYjRGMEFkeml6dGRyU2xH
	L0NLeEZQQ1BLdERuaDNiM2tZUzkzUjYxRk9IVzlsNzZkeWUKM0pzcEw5TTV0bTZPMHZn
	R2dlZS9YNFhqbGVCVjNxdEswd1RYdzRqQWJ6ZWxZSmhoTUNyMzFVaXBEUXd0enlYcQpR
	TWlJMGxhUUxGcDZ3M0hTSDJkZ0JzUXVBQUpLNStmUVlXc0l6SDZ2N0ZIcEpRcHR4elY1
	cS96NXNHM0FORmMvClhYeFk5Q0thSEZuV3RkR3ZWM3Zzb1BrdnlCTCs0K213djVjaTFo
	amh2cEFGYUhoalh2bm1hQ0MzaDZjY0psR3MKZkdYVnBtdVBWZXdUZW9vZFVuUXVWNmhK
	TkFpZGNFNFlTazFZcmE3K2JTb3NpQXN0MW5PakZjNktPcU9CTzNPKwpWYmY5UGgvazYv
	K2NtZWdHanJxZkpnYUFDLzR5M0VqUm5qenE0OUQ4ZWtId0FWeXdINUN0OXJDa1BwOWtK
	eFI0CkJOdmV2YWptWGJ4U25wNXlRcExURjB2dWpiaWt2MnEzSGJidWNVaUlGOU9YTG9U
	SEdjL0o4TkJ4Ym82a3diejQKazhaY0tKZGtxWmJPdVBudlRrRWozaVQ5QlZkM3BabERK
	R1k2YnBuaGlqTHJFd285cWlHNkEvcXF3dFEvUm5aRwpLMVlwNlB0QmpkUEhLNFpwSC9E
	NHNmUXBsVUV5ejlkYTZTNWRVcjJEbFdablJBSnhpVDNCTCt5QUIyZkpKVkhtCmdxb3c2
	MmFORDdiRGlsR2tib2RzR1hEemVVb1NFb0VORlVDSndsSUNaWXFWVi85dXFRNEhRd2ZO
	ZWRpM3hMTnQKQmhyQ2xvRjNRdnMyZlNucWZVVWVpZ3E4OTRVakIxUm9PL3VrNXl2cVRL
	c1p6R2xXSWhEdTFteGNidyt0R2JGRQo2VitlbTE1OGZHRWQ4anUxNmhnbEF4djdHenNp
	S2dMcmF3MEw0ZnRBaEJVcWFTZFJEbTMwZWEyb1MyS2NRWjBQCjR3WGdubk8zbFJlaHM4
	V3hiWVBMZjRxWUdwNFFqbG5YQzRwTE9rbkRqdXE2NGllQy9VeEw2cWlGTFFIaXV3c1YK
	cTEvamtXWmtvdy80dWZTNEhSYkZ6ZnVwSmk5WWt1cFlNR2xrR0ZwQmE1U09CWnBrSzcr
	OUpvR2tIZHJ2MkZsNwpWazlBMGxNWGc0UGFNOFpjMWdWcWRnZmdlME5MeFBaNnFpZ2RZ
	aGZJZG05cCtJNkpuTVU4MWJoVloyRmxzQlA5CjZ0OCtJaHNVZmMvNm1VUUMvNGFxbVh6
	QU9ZTGs2V1pHTmgzeUxqem5sOEU2b2NKWTV3NlNTcmdmRGhuR2Q4V1gKbnhNVjNtVUtS
	ZFJjNXdnSllLdjBNa3hrNzVGL3BUcU5KZjdMNUs0MCtXMUJncXBUCi0tLS0tRU5EIENP
	TlRBSU5FUi0tLS0tCg==
	</data>
	<key>LDActivationVersion</key>
	<integer>2</integer>
</dict>
</plist>
