<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-ActivationStateAcknowledged</key>
	<true/>
	<key>-BrickState</key>
	<false/>
	<key>-DeviceName</key>
	<string>Homosexual iPhone</string>
	<key>-FirstFreePairExpired</key>
	<true/>
	<key>-FirstPurpleBuddyCompletion</key>
	<integer>1409443741</integer>
	<key>-LastActivated</key>
	<string>11D257</string>
	<key>-ProtocolVersion</key>
	<string>2</string>
	<key>-SBLockdownEverRegisteredKey</key>
	<true/>
	<key>-TimeIntervalSince1970</key>
	<integer>1409470708</integer>
	<key>-TimeZone</key>
	<string>America/Los_Angeles</string>
	<key>-UseRaptorCerts</key>
	<true/>
	<key>-Uses24HourClock</key>
	<false/>
	<key>com.apple.international-HostKeyboard</key>
	<string>en_US</string>
	<key>com.apple.international-Keyboard</key>
	<string>en_US</string>
	<key>com.apple.international-Language</key>
	<string>en</string>
	<key>com.apple.international-Locale</key>
	<string>en_US</string>
	<key>com.apple.mobile.backup-CloudBackupEnabled</key>
	<true/>
	<key>com.apple.mobile.backup-LastCloudBackupDate</key>
	<integer>432138911</integer>
	<key>com.apple.mobile.backup-LastCloudBackupTZ</key>
	<string>PDT</string>
	<key>com.apple.mobile.backup-RequiresEncryption</key>
	<integer>0</integer>
	<key>com.apple.mobile.chaperone-NotSoFresh</key>
	<true/>
	<key>com.apple.mobile.chaperone-migrated</key>
	<true/>
	<key>com.apple.mobile.data_sync-Bookmarks</key>
	<dict>
		<key>AccountNames</key>
		<array>
			<string>iCloud</string>
		</array>
		<key>Sources</key>
		<array>
			<string>iCloud</string>
		</array>
	</dict>
	<key>com.apple.mobile.data_sync-Calendars</key>
	<dict>
		<key>AccountNames</key>
		<array>
			<string>iCloud</string>
			<string>cpvideomaker@icloud.com</string>
			<string>Exchange</string>
		</array>
		<key>Sources</key>
		<array>
			<string>iCloud</string>
			<string>Exchange</string>
		</array>
	</dict>
	<key>com.apple.mobile.data_sync-Contacts</key>
	<dict>
		<key>AccountNames</key>
		<array>
			<string>iCloud</string>
			<string>cpvideomaker@icloud.com</string>
			<string>Exchange</string>
		</array>
		<key>Sources</key>
		<array>
			<string>iCloud</string>
			<string>Exchange</string>
		</array>
	</dict>
	<key>com.apple.mobile.data_sync-Notes</key>
	<dict>
		<key>AccountNames</key>
		<array>
			<string>iCloud</string>
			<string>cpvideomaker@icloud.com</string>
			<string>Exchange</string>
		</array>
		<key>Sources</key>
		<array>
			<string>iCloud</string>
			<string>Exchange</string>
		</array>
	</dict>
	<key>com.apple.mobile.iTunes-iTunesSetupComplete</key>
	<true/>
	<key>com.apple.mobile.lockdown_cache-ActivationState</key>
	<string>Activated</string>
	<key>com.apple.mobile.restriction-ProhibitAppDelete</key>
	<false/>
	<key>com.apple.mobile.restriction-ProhibitAppInstall</key>
	<false/>
	<key>com.apple.mobile.who-epoch_build</key>
	<string>11D257</string>
	<key>com.apple.mobile.who-uptodate</key>
	<integer>1</integer>
	<key>com.apple.mobile.who-uptodate_build</key>
	<string>11D257</string>
	<key>com.apple.smf-IDCreatedWithBuild</key>
	<string>11D257</string>
	<key>com.apple.smf-IDLastSeenAtBoot</key>
	<date>2014-09-11T22:56:09Z</date>
	<key>com.apple.smf-IDLastSeenAtBootBuild</key>
	<string>11D257</string>
	<key>com.apple.smf-StoredIdentity</key>
	<true/>
</dict>
</plist>
