<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNOakNDQVI2Z0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTBNRGd6TVRBd01EVTEKTmxvWERUSTBN
	RGd5T0RBd01EVTFObG93QURDQm56QU5CZ2txaGtpRzl3MEJBUUVGQUFPQmpRQXdnWWtD
	Z1lFQQp2VkNsMHRpczJyM0s5aWZJQjRaaU9GMytLRCtkZEl1NW01MWllYlFMcnpudHF2
	bUh5ZXIzUHl1L3RuQy9aWUJOCkZENm13Q0xOVlBMSGtoMTVyeUZIN2hXbFFZMnZnRm5w
	UmplSzJrZFNRNGoyM09CUWFYenlrQkNMd3AyOEYyOTYKZmdocDVVTXU5SmpoUXVkMThH
	RTMwYjlWdngzbGorcnJKUHJtUlRBc0xJRUNBd0VBQWFNL01EMHdEQVlEVlIwVApBUUgv
	QkFJd0FEQWRCZ05WSFE0RUZnUVU2eitSZWlQd2JoU0ZKWHdpVHI0aHFXV2xnMXN3RGdZ
	RFZSMFBBUUgvCkJBUURBZ1dnTUEwR0NTcUdTSWIzRFFFQkJRVUFBNElCQVFCZTFibkMw
	bXlKWGpoN3VSdnpNTjRWbU9paWdlL3gKTERUS25zTGp0RjdpWjMyRTdnbTZweWRsYnVJ
	eDRoQjR1VzJpQVE1bW1VRWx0bDFibDk5QjZDRHIrV1A5eGtvWgpmL0NNUDd6eW9GWnNY
	SkNnTFhYdHp2S3RTUXV1NGdDYUZ3Y2t0NndxUW9abDZLUkhWSTVnMDlYam1yTmcrNCtR
	CmZIeVdiVjRMdm1iZWdLMEx1bDJhSnpLU2xnTDh4MUN3MDJoUzN4WFNlMXNMVFlWeEJ5
	TkpPZnBzc2Q0NUI5TW4KQjhHVkxpb3l6NWlhVUVvWGZ2VFpGeDJraEc5MlVibXl4Q01l
	SGFUQXd4Z1llZDNnSUhwOVJtRVZtSU1xNlpIcgozKzJTaVJzMDQzR2NWMUNXZkZsR21J
	dmUwaCtrcHB5anMvelZ1L1J4T0FXQi9JRGpQbnZVMllkdAotLS0tLUVORCBDRVJUSUZJ
	Q0FURS0tLS0tCg==
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTBNRGd6TVRBd01EVTEKTmxvWERUSTBN
	RGd5T0RBd01EVTFObG93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU00bHhoV2h4ZzZvWFI1dG4rWlZDRW9vRzFJQkxvd09OTkNkRmhCZ3Z2
	TEV6bitvdUM5WTJsNEpHZm9FCnM3aWlYNGh0RzQrSVUwR2IvQUMxRm9jcDZQaXFWK1Ft
	a3dFa0Ywa1VaS0Vob3BDdFZLQ2YxcnRLNW0wS3M4cG4KY1pGem5UVElQbGNsU1dkRkVV
	SUM2SThpaFNKVCtvV2Q5Qm9RTnJuM0RNRDYxV1FsVEZ2VEhnNUdBM1VMWTBzYgpQbDNZ
	ZnprdDc5VWRsWkZVN011SUgxcnQ5K1lzVFhYbldOaWNTa2hzcEYvZkRsWUR2anlqTHo1
	WFZ1cDRtVlRZCjgrWDMxdHp0eGVyREFHaDV3VnRadERmSUlmV1pXeU55R1kvUkY1ZFh4
	c0FDcUw5RThpdm54bGNUTmlvQzU1K1YKUCtiMmNPd0t2UlcyNjFzNnhENlRZeVFBMjhz
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVUVINzR4
	bnB4bUFvQXJIaWpXZ2tWTEZvU0RBUXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUFQdk15VHFNemxCY1FpbzJpZXpFcnFsVnVlMmQ5Q0tJ
	ZytTb1FWaTRGRmhub3cKNjdWMjlHUDQyRFMxRkdYeGlVcnR1aU9LbUtVUmFqZWphTVJa
	dUMvR1lIbktvcEFsbU5aK1JZMXdORmJ3R3FKKwpFWE40TXBkZnR6SGdCNzN2dTBZQUY2
	aGhRdkdnOFhTVWRmS1dtOXFueWV2UjJlMlhRdE42NmYzNHZtOWw2MGhGCjZ3SWM5c1pZ
	eGo5am5oYTF0VXQyeVZmTUsrbml2bjlrT0FSd2UxL1NMVk1Md3VXSERkZVNKQW0wejF1
	d0VWY0cKSnBZYkFkUFB4aGhlRC81TVlBNE1jU1pkRUhQcDZFUUgyZVJzd0lnMHlqcy9H
	ZE4veVV3dEtkSDc2UlB6cTh2bgoxd3E0QTdNZ3VKSHAzUE5mbExiUW1nOUhvL1V3bEth
	UGJzZVdDZWc1Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostID</key>
	<string>30393519145362847726714376</string>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTBNRGd6TVRBd01EVTEKTmxvWERUSTBN
	RGd5T0RBd01EVTFObG93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUthSER5cjVacFV0SVo1M2RNK2xQdTJmRitZRjUxeEE5Z004czM0V3FJ
	RktKMmtiTWh3clJ3bExDRnJNCm5vMDdPbGFCdDRKVWVVZTlyQjRLOU12ZlZUOE5QVUxB
	VVRJOVhHaEVYWU9laGR2WGcxM2o1UmJuUUdQQVNpckkKMVZGT0J1bDVnTklLSjRFMGNm
	TzFRMm1Wc2YrMXZ0dXlCNC9nbmc1K1JzdDhiMGo2MXBuRmtVaHVyK05GNEI2Ugo0K2dZ
	RVkwZkF2UE5RdE9nazB4RUUxZDBySW5MY2d5dWljMjdraFpUb3VJT2U3ZExVRFprOWtI
	VGcrQzc3M2xECmFiQ0t6dER4bjdEYkh4M0JLMmJqcktkU3UxQ2RqcTQzMW9DRkRXREo5
	Q2VPQ0JVcFZxR0VhTU1sYXVhVlBrbWEKRWtNU3Eyd1pyLzE1UW9DeW9SMXRwMS9RWUVV
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVVo
	V1JVaXBTcDVVcHl4YTRzT2h0SUxiTjlhR0F3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFKQVgwRHBxdUI3NGhRZkZEZEV0ZGZJM0lDWXh6b1NxSC85dHQvSzF2OVJsWUN6QzJw
	MmtiSml1TDZyWUExNkMKWXVOaHlzc1RKMGVGMEF0L2ltUEEyeEUzeklxK0tDSWd1ckk5
	SVcxK1M0OFFyY2ZnQ1VoTW5sbnMrVHZzTndHYwp0ZG5TNmJReGEyNkdDT1A3L3NHL3lR
	VnJZQUlSKzB0NWZ4QTlOOUE2emRsSTdKQkVDZzYvWUpwMDlVOW9xTTdCCmhwMUZDTjdW
	Z3hoQTRGSmdyd0xFWmwxK1hvKzFkUHJYVnhtNG9mS1JydjA5TEdvZDE1VFlzOXJoTlBN
	UTNmMlIKVldiWGNjZ1ZtM0h4eXV3U0pGU09OZWZSTzZCcUg4cklyZjN4QTRQOEtkdFVp
	U09PRFpGeEFmNTNLTVg0a2h3MgpIaVRNWklXd1plTmxKVGpwYk1lc255UT0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQo=
	</data>
	<key>SystemBUID</key>
	<string>30368322-109038275634843364</string>
</dict>
</plist>
